:root {

    --color-black: #1a1a1a;
    --color-white: #fafafa;
    --color-red: #e11;
    --color-green: #025502;

    --primary-color-accent: orange;
    --secondary-color-accent: rgba(172, 8, 172, 0.89);

    color-scheme: dark light;

    --base-font-size: 10px;
    font-size: calc(var(--base-font-size) * 1);

}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color-background: #2f1e5ed5;
        --primary-color-heading-background: #3d0463dc;
        --primary-color-text: #ffffffdc;
        --primary-button-background-color: rgba(2, 54, 97, 0.836);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --primary-color-background: #e0a7c9de;
        --primary-color-heading-background: #db3869;
        --primary-color-text: #000000dc;
        --primary-button-background-color: rgba(168, 103, 5, 0.836);
    }
}

* {
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 4px;
}

body {
    margin: auto;
    font-family: monospace;
    font-size: calc(1em + 0.25rem);
    color: var(--primary-color-text);
    background-color: var(--primary-color-background);


    & div,
    & section {
        display: block;
    }

    & div.container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 2rem;
    }

    h1 {
        background-color: var(--primary-color-heading-background);
        color: var(--primary-color-text);
        padding: 1rem;
        border-radius: 4px;
        margin-bottom: 2rem;
        text-align: center;
    }

    ul {
        list-style: none;

        li {
            border-left: 2px solid transparent;
            border-radius: 0;
            padding: 4px 8px;


            &:hover {
                border-left: 2px solid var(--primary-color-accent);
            }
        }
    }

    button,
    .button {
        font-size: 16px;
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid var(--primary-color-accent);
            background-color: var(--primary-color-background);
        }
    }

    a {
        text-shadow: 0 0 1px var(--color-black);
        font-weight: 500;
        padding: 1rem;
        transition: all 0.3s ease-in-out;
        text-decoration: none;

        &:hover {
            background-color: var(--primary-color-background);
            color: var(--primary-color-text);
            text-decoration: wavy;
        }
    }

    .break {
        display: block;
        border-bottom: 1px solid var(--secondary-color-accent);
        border-radius: 0;
    }

}

fieldset {
    width: clamp(300px, 100%, 800px);
    padding: 2rem;
    margin: 2rem 0;

    & & {
        width: clamp(250px, 100%, 700px);
        margin: 2rem auto;
    }
}


.flex {
    display: flex;
    gap: 1vh 2vw;
    flex-wrap: wrap;

    &>div {
        min-width: 60px;
    }

    &.m0 {
        gap: 0;
    }

    &.m2 {
        gap: 2vh 4vw;
    }

    &.mv4 {
        gap: 4vh 2vw;
    }

    &.vflex {
        flex-direction: column;
    }
}

.grid {
    display: grid;
    gap: 1vh 2vw;

    &.grid2 {
        grid-template-columns: repeat(2, 1fr);
    }
}

.lists {
    .list-item {
        min-width: 300px;
    }
}

@media (max-width: 600px) {
    body {
        max-width: 60mm;
    }

    .grid {
        grid-template-columns: 1fr;

        .grid2 {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    .flex {
        flex-direction: column;
    }

    a {
        background-color: var(--primary-color-background);
        color: var(--primary-color-text);
        text-decoration: underline;
    }
}

.dot{
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin-right: 10px;

    &.green {
        background-color: var(--color-green);
    }

    &.red{
        background-color: var(--color-red);
    }
}
